body {
  font-family: sans-serif;
  padding: 2em;
  line-height: 1.4em;
}

h1 {
  line-height: 1.3em;
}

p {
  margin-bottom: 1.5em;
}

button {
  background: #2479e9;
  color: white;
  border: none;
  padding: 1em;
  font-size: inherit;
}

.modal {
  position: fixed;
  background: rgba(0, 0, 0, 0.55);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}

.modal-content {
  position: fixed;
  max-width: 600px;
  min-width: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 90%;
  overflow: auto;
  background: white;
  padding: 1em;
  box-sizing: border-box;
  box-shadow: 0 0 2em #444;
}

.modal-header .close-modal {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}
















/* */
